header {
	background-color: white;
}

main {
	width: 100%;
	height: calc(100vh - 8rem);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(127, 255, 212);
	padding: 5rem;
}

footer {
}

.header-start,
.header-start img {
	height: 100%;
	line-height: 5rem;
}

.header-start {
	display: flex;
	align-items: center;
}

.header-start img {
	padding: 0.5rem;
}

.header-end {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.square {
	display: flex;
	cursor: pointer;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 0.2rem;
}

.square > span {
	color: blueviolet;
}
.square.clicked,
.square.clicked > span {
	color: white;
	background-color: #0808c5;
}

.square.clicked-bomb,
.square.clicked-bomb > span {
	color: black;
	background-color: rgb(177, 0, 0);
}

#grid {
	width: 700px;
	height: 700px;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 10px 5px 5px rgb(0, 15, 10);
}

#header-container {
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: space-between;
	height: 5rem;
}

#footer-container {
	height: 3rem;
	line-height: 3rem;
}
